

a {
    color: #fff;
    text-decoration: none;
  }
  
  .p-menu1{
     height: 100%;
     position: relative;
  }
  .sticky-nav {
    position: sticky;
    top: 0;
    z-index: 300;
  }
  
  /* Hamburger */
  .hamburger1 {
    height: 50px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    z-index: 120;
    align-items: center;
    background-color: #1c1c1c;
  }
  
  .hamburger1 div {
    background-color: white;
    position: relative;
    width: 30px;
    height: 3px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle1 {
    display: none;
  }

  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 18px;
  }
  
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -3px;
  }
  
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle1:checked ~ .menu1 {
    height: 450px;
  }
  

  /* Menu */
  .menu1 {
    position: absolute;
    width: 100% !important;
    background-color: #282828;
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: left;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .menu1 a:first-child {
    margin-top: 40px;
  }
  
  .menu1 a:last-child {
    margin-bottom: 40px;
  }
  .menu1 h3{
    color: #71a3e9;
    font-family: "ibm-plex-sans","Helvetica Neue",Arial,sans-serif;
    font-weight: lighter !important;
    padding-left: 15px;
    margin-bottom: -5px;
  }

  .navcard {
      padding: 5px 20px 0px 20px;
      color: white;
      line-height: 1.5 !important;
      transition: 0.3s;
      /* min-height: 100px !important; */
  }

  .navcard:hover {
    box-shadow: black;
    background-color: #424242;
    border-radius: 5px;
  }

  .navcard h5 {
      margin-bottom: -15px !important;
  }
  .navcard p {
      font-size: 10pt;
      color: rgb(199, 199, 199);
  }

  .pages {
      padding: 2em;
      margin-bottom: -40px;
  }
  .pages > div > a {
    width: 100%;
    min-height: 55px !important;
  }

  .sitename-wrap {
    font-weight: lighter;
    height: 100%;
    padding: 5px;
    justify-self: left;
    position: absolute;
    color: #171717;
    font-family: "ibm-plex-sans","Helvetica Neue",Arial,sans-serif;
    margin-top: inherit;
    /* background: linear-gradient(to right, #171717 0%,#282828  100%);
    background-position: -190px;
    transition: .3s;
    background-repeat: no-repeat; */
  }
  .sitename-wrap:hover {
    background-position: center;
  }
  .sitename-wrap h4 {
    color: white !important;
  }

  .search-wrap {
      position: absolute;
      margin-top: inherit;
      padding: 10px;
      width: 30%;
      transform: translateX(110%);
  }

  .burg-wrap {
    justify-self: right;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 400;
    background-color: #1c1c1c; 
    cursor: pointer;
    top: 0;
    right: 0;
  }

  .burg-bars {
    position: absolute;
    margin-top: 4px;
    margin-left: 12px;
  }

  .search-bar {
    background: rgb(228, 228, 228);
    border: 0px;
    width: 100%;
    border-radius: 3px;
    height: 30px;
    text-align: center;
  }

  #left-bar-brand {
    width: 40px;
    float: left;
    padding: 5px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  @media (max-width: 1200px) {
    .ibm-landing-page {
      width: 95% !important;
      margin-left: 5% !important;
    }
    #left-bar-brand {
      width:5% !important;
    }
  }
  @media (max-width: 800px) {
    .ibm-landing-page {
      width: 92% !important;
      margin-left: 8% !important;
    }
    #left-bar-brand {
      width:8% !important;
    }
  }