/* Variables */
/* -------------------------------------------------------- */
:root {
  /* Color */
  --white: #fff;
  --black: #1c1c1c;
  --blue: #0f62fe;
  /* Background Color */
  --bg-light-gray: #f9f9f9;
  --bg-gray: #f4f4f4;
  --bg-dark-gray-01: #1c1c1c;
  --bg-dark-gray-02: #2c2c2c;
  --bg-dark-blue: #003a6d;
  /* Button Color */
  --btn-prim: #0f62fe;
  --btn-prim-hover: #0050e6;
  --btn-secnd: #6f6f6f;
  --btn-scnd-hover: #5e5e5e;
  /* Font Color */
  --font-light-blue: #78a9ff;
  --font-dark-blue: #0141b7;

  /* Weight */
  --bold: 900;
  /* Sizing */
  --plex-14: 0.875em;
  --plex-16: 1em;
  --plex-18: 1.125em;
  --plex-20: 1.25em;
  --plex-24: 1.5em;
  --plex-28: 1.75em;
  --plex-36: 2.25em;
  --plex-48: 3em;
  --plex-72: 4.5em;
  --plex-180: 11.25em;
}
/* -------------------------------------------------------- */

/* HTML tags */
/* -------------------------------------------------------- */
/* H1 - 48px */
/* H2 - 36px */
/* H3 - 25px */
/* H4 - 22px */
/* p - 18px */

html {
  scroll-behavior: smooth;
}

body,
body .pure-g,
body .pure-g [class*="pure-u"] {
  font-family: "ibm-plex-sans", "Helvetica Neue", Arial, sans-serif;
}

li {
  font-size: var(--plex-18);
  font-family: "ibm-plex-sans", "Helvetica Neue", Arial, sans-serif;
}

li span,
li a {
  font-size: var(--plex-16);
}

ol > li::before {
  font-family: "ibm-plex-sans", "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "ibm-plex-sans", "Helvetica Neue", Arial, sans-serif;
}

h2 {
  line-height: 2.1875rem;
  font-weight: 500;
}

h3 {
  font-size: var(--plex-24);
  font-weight: 500;
}

h4 {
  font-weight: 500;
  font-size: var(--plex-20);
}

h6 {
  font-weight: 500;
}

p > a {
  line-height: 0;
  font-size: var(--plex-16);
}

a {
  font-size: var(--plex-18);
}
/* -------------------------------------------------------- */

/* Backgrounds */
/* -------------------------------------------------------- */
.white-bg {
  background-color: var(--white);
  color: black;
}

.white-bg a {
  color: var(--blue);
}

.white-bg li a {
  color: black;
}

.white-bg h3,
.white-bg h4 {
  color: var(--black);
}

.gray-bg {
  background-color: var(--bg-gray);
  color: var(--black);
}

.light-gray-bg {
  background-color: var(--bg-light-gray);
  color: var(--black);
}

.gray-bg a,
.light-gray-bg a {
  color: var(--blue);
}

.gray-bg h3,
.gray-bg h4,
.light-gray-bg h3,
.light-gray-bg h4 {
  color: var(--black);
}

.dark-gray-bg {
  background-color: var(--bg-dark-gray-02);
  color: var(--white);
}

.dark-gray-bg p {
  color: var(--white);
}

.dark-gray-bg h4 {
  font-size: var(--plex-24) !important;
}

.black-bg {
  background-color: var(--black);
  color: var(--white);
}

.blue-bg {
  background-color: var(--bg-dark-blue);
  color: var(--white);
}

.blue-bg a,
.black-bg a, 
.dark-gray-bg a {
  color: var(--font-light-blue);
}

/* Homepage backgrounds */
.learn-home-bg {
  background-image: url(../../wp-content/backgrounds/Learn_HomepageBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
}

.innovate-home-bg {
  background-image: url(../../wp-content/BG02.png);
  background-size: cover;
}

.engage-home-bg {
  background-image: url(../../wp-content/backgrounds/Innovate_HomepageBG.png);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 35% 100%;
}

.learn-home-bg a,
.engage-home-bg a {
  color: var(--font-dark-blue);
}

/* Blur background */
.blur-bg {
  backdrop-filter: blur(6px);
  padding: 4em;
}
/* -------------------------------------------------------- */

/* Icons */
/* -------------------------------------------------------- */
.icon-sm {
  max-height: var(--plex-36);
  max-width: var(--plex-36);
  margin-bottom: 1.25em;
}

.icon-lg {
  height: var(--plex-28);
}

.icon-xl {
  height: var(--plex-36);
  max-width: var(--plex-48);
  margin-bottom: 1.4em;
}

.icon {
  margin-bottom: 0.5em;
}

.icon-invert {
  filter: invert(1);
}
/* -------------------------------------------------------- */

/* Buttons */
/* -------------------------------------------------------- */
.button {
  color: var(--white) !important;
  padding: 1em 1.5em;
  line-height: var(--plex-24);
}

.button-primary {
  background-color: var(--btn-prim);
  margin-top: 1.25em;
}

.button-secondary {
  background-color: var(--btn-secnd);
  margin-top: 1.25em;
}

.button-primary:hover {
  background-color: var(--btn-prim-hover);
}

.button-secondary:hover {
  background-color: var(--btn-scnd-hover);
}

.button-tertiary {
  border: solid var(--white) 1px;
  font-size: var(--plex-16);
  height: 9.375em;
  display: flex;
  flex-flow: column nowrap;
}

.button-tertiary div:nth-child(0) {
  flex-grow: 1;
}

.button-tertiary div:nth-child(1) {
  flex-grow: 4;
}

.button-tertiary:hover {
  background-color: var(--white);
}

.button-tertiary:hover h4 {
  color: var(--black);
}

.button-tertiary:hover p {
  color: var(--blue);
}

.button-g {
  display: flex;
  flex-flow: wrap row;
  gap: 1em;
}
/* -------------------------------------------------------- */

/* Main */
/* -------------------------------------------------------- */
.main-content p {
  font-size: var(--plex-18);
  line-height: var(--plex-24);
}

.main-content h2 {
  font-size: var(--plex-36);
}
/* -------------------------------------------------------- */

/* Content containers */
/* -------------------------------------------------------- */
/* Targets all sections after hero */
.main-content section:not(:first-child):not(.cta-banner):not(.section-404) {
  padding: 4em;
}

.section-header {
  padding-right: 2em;
}

.section-header h3 {
  font-weight: normal;
}

/* Targets all section containing card grid (ex. videos, course, etc.) */
.card-section {
  padding: 2em 4em !important;
}

.card-section-header {
  margin-left: 1em;
  padding-right: 2em;
}

/* For pure grid units requiring padding */
.pure-g-pad > div {
  padding: 1.2em;
}
/* For pure grid units requiring vertical padding only */
.pure-g-pad-v > div {
  padding: 2em 2em 2em 0em;
}
/* For pure grid units requiring wider padding */
.pure-g-pad-wd > div {
  padding: 3em 3em 0em 0em;
}

/* For individual pure grid units requiring paddings */
.pure-pad {
  padding: 1.2em;
}

.pure-pad-v {
  padding: 1.2em 0;
}

.pure-pad-r {
  padding: 1.2em 1.2em 1.2em 0em;
}

/* Format column group */
.column-g > div {
  padding: 0.2em;
}

/* Format inline group */
.inline-g {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  align-items: flex-start;
}

.inline-g h2 {
  color: var(--blue);
}

.inline-g p {
  padding: 0px;
  margin-right: 2em;
}

.inline-g-ol {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.2em;
  align-items: center;
}

.vertical-g {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  align-items: flex-start;
}

/* Format horizontal divider */
.hr-container {
  padding: 2em 0em 3em 0em;
}

/* Call to action for new courses */
.cta {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

/* For icon in cta */
.cta img {
  max-width: 5em;
  height: 100%;
  max-height: 10em;
}
/* -------------------------------------------------------- */

/* Quotations */
/* -------------------------------------------------------- */
.quote {
  margin-bottom: 1em;
}

.quote q {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  float: left;
  line-height: 1.4em;
  font-size: var(--plex-28);
  padding: 0.5em 0em;
}

.quote span {
  color: var(--font-light-blue);
}

.quote p {
  font-size: var(--plex-14);
}

.quote-blk {
  background-color: var(--bg-gray);
  margin: 0.2em;
  padding: 2em;
  color: var(--black);
  font-size: var(--plex-18);
}

.quote-blk p {
  margin-top: 1em;
  font-size: var(--plex-16);
}

.quote-blk i {
  color: black;
}
/* -------------------------------------------------------- */

/* Card */
/* -------------------------------------------------------- */
.card {
  background-color: white;
  margin: 1em 0em 1em 0em;
  padding: 1.5em;
}

.card > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* Logo sizing */
.card img {
  max-width: 16em;
  width: 100%;
}

.logo {
  color: indigo !important;
  font-weight: bold;
}
/* -------------------------------------------------------- */

/* GIF */
/* -------------------------------------------------------- */
.gif {
  position: relative;
}

.gif a {
  width: 100%;
}

.gif img {
  width: 100%;
  max-width: 40em;
}

.gif-cover {
  position: relative;
  opacity: 1;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.4s ease all;
}

.gif-cover:hover {
  opacity: 0;
}

.gif-video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.4s ease all;
}

.gif-video:hover {
  opacity: 1;
  /* transform: scale(1.03); */
}

.gif-pad {
  padding: 1em 0;
}
/* -------------------------------------------------------- */

/* Banner */
/* -------------------------------------------------------- */
.cta-banner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 1em 2em;
  background-color: #0072c3;
}

.cta-banner div {
  display: flex;
  align-items: center;
  gap: 1em;
}

.cta-banner > div:first-of-type {
  margin-right: auto;
}

.cta-banner h4 {
  padding: 0;
  margin: 0;
}

.cta-banner a {
  color: var(--white);
  font-weight: bold;
  font-size: var(--plex-20);
}

.cta-banner .icon-sm {
  margin-bottom: 0;
}

.cta-gold-banner {
  padding: 1em 4em;
}

/* Custom styling */
/* -------------------------------------------------------- */
/* For links under headers */
.highlight-link {
  font-size: var(--plex-20);
}

/* Spacer between sections */
.spacer {
  height: 0.3125em;
}

/* non-bold h2 header */
.h2-normal {
  font-weight: normal;
  margin-bottom: 0.2em;
}

.img-lg {
  width: 100%;
  max-width: 43.75em;
  padding: 1em;
}

.img-md {
  width: 100%;
  padding: 1em 0;
}

/* Index hero */
.homepage-hero {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.homepage-hero h1 {
  font-size: var(--plex-48);
  line-height: var(--plex-20);
}

.homepage-hero p {
  font-size: 16pt;
}

/* Do not display for screens smaller than 2000px */
.xxl-only {
  display: none;
}

/* Only display for screens smaller than 2000px */
.under-xxl-only {
  display: block;
}

.page-404 {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.section-404 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
}

.section-404 h1 {
    font-weight: bold !important;
    font-size: 15em !important;
    color: #8d8d8d;
    line-height: 0em !important;
}

/* -------------------------------------------------------- */

/* Media queries */
/* -------------------------------------------------------- */
/* 425px and below screen sizes */
@media screen and (max-width: 27em) {
  /* Call to action for new courses */
  .cta {
    flex-flow: row wrap;
  }

  /* For individual pure grid units requiring paddings */
  .pure-pad {
    padding: 1.2em 0em;
  }

  .pure-pad-r {
    padding: 1.2em 0em;
  }

  .section-404 h1 {
    font-size: 10em !important;
  }
}

/* 768px and below screen sizes */
@media screen and (max-width: 48em) {
  /* Decrease header size for smaller screens */
  .main-content h2 {
    font-size: var(--plex-28);
  }

  /* Decrease section padding for smaller screens */
  .main-content section:not(:first-child):not(.cta-banner) {
    padding: 2em;
  }

  /* Decrease card section padding for smaller screens */
  .card-section {
    padding: 1em !important;
  }

  /* Decrease padding for smaller screens */
  .pure-g-pad > div {
    padding: 1em 0;
  }
  .pure-g-pad-v > div {
    padding: 1em 0;
  }
  .pure-g-pad-wd > div {
    padding: 2em 0.4em 0em 0em;
  }

  /* Decrease highlight link padding for smaller screens */
  .highlight-link {
    padding-bottom: 1rem;
  }

  /* Decrease font size for smaller screens */
  .dark-gray-bg h4 {
    font-size: var(--plex-20) !important;
  }

  /* Index hero */
  .homepage-hero {
    flex-flow: row wrap;
  }

  .homepage-hero .section-header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }

  .homepage-hero h1 {
    font-size: var(--plex-36);
  }

  /* Homepage backgrounds */
  .engage-home-bg {
    background-size: cover;
  }

  /* Blur background */
  .blur-bg {
    padding: 2em;
  }

  .cta-banner {
    gap: 1.5em;
  }

  .cta-gold-banner div {
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .cta-gold-banner {
    padding: 2em;
  }
}

/* 768px to 1024px screen sizes */
@media screen and (min-width: 48em) and (max-width: 64em) {
  .pure-u-xl-11-24 > .gif {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* 1024px and above screen sizes */
@media screen and (min-width: 64em) {
  /* Resize quote block to full height for larger screens */
  .quote-blk {
    height: 100%;
  }

  /* Resize card to full height for larger screens */
  .card {
    height: 100%;
    margin: 1em 1em 0em 1em;
  }

  .img-md {
    width: 100%;
    max-height: 17em;
    padding: 0;
    object-fit: cover;
    object-position: bottom;
  }
}

/* 2000px and above screen sizes */
@media screen and (min-width: 125em) {
  /* Display content for xxl screen sizes */
  .xxl-only {
    display: block;
  }

  .under-xxl-only {
    display: none;
  }
}
/* -------------------------------------------------------- */
