h2 {
    font-weight: 400;
    font-size: var(--plex-24);
    padding: 0em;
    margin: 0em;
}

.support-card h2 {
    font-weight: 500;
}

p {
    font-size: var(--plex-18);
}

a {
    text-decoration: none;
    color: var(--blue);
}

/* Styling for a group of links */
.link-g {
    margin-top: 1em;
    display: flex;
    flex-flow: column nowrap;
}

.link-g a {
    margin: 0.2em 0em;
    width: fit-content;
}

/* Styling for video card */
.card {
    background-color: var(--bg-light-gray);
    margin: 1em;
    padding: 2em;
    display: flex;
    flex-flow: column nowrap;
}

/* Styling for support card */
.support-card {
    margin: 0.2em;
}

.support-card .inline-g {
    display: none;
}

.support-card:hover {
    background-color: #e3e3e3;
    transition: 0.2s ease-in-out;
}

.card div:nth-child(0) {
    flex-grow: 1;
}
  
/* Places 'watch now' at the bottom of the video card */
.card div:nth-child(1) {
    flex-grow: 4;
}

/* Styling for inline group (level, time) */
.inline-g {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.inline-g p {
    padding: 0em;
    margin: 0em;
}

/* New tag styling */
.card-new {
    font-weight: bold;
}

/* 1024px and above screen sizes */
@media screen and (min-width: 64em) {
    /* Set consistent height for video card */
    .card {
        height: 20em;
    }

    /* Set consistent height for support card */
    .support-card {
        height: 12em;
    }
}