h2 {
    font-weight: 500;
    font-size: 1.5em;
    padding: 0em;
    margin: 0em;
}

h3 {
    font-weight: 400;
    font-size: 1.375em;
    padding: 0em;
    margin: 0em;
}

p {
    font-size: 1.125em;
}

a {
    text-decoration: none;
    color: #0f62fe;
    font-size: 1.125em;
}

img {
    max-width: 16em;
}

/* Styling for a link group */
.link-g {
    margin-top: 1.4em;
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
}

.column-g {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

/* Styling for inline group (level, time) */
.inline-g {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.inline-g div {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.inline-g p {
    padding: 0em;
    margin: 0em;
}

/* Styling for course card */
.course-card {
    margin: 1em 0em;
    padding: 2em 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 2em;
    border-bottom: 2px dotted lightgray;
}

/* 768px and below screen sizes */
@media screen and (max-width: 48em) {
    .inline-g {
        width: 90%;
    }
}

/* 1024px and above screen sizes */
@media screen and (min-width: 64em) {
    .course-card {
        flex-flow: row nowrap;
    }
}

/* 1440px and above screen sizes */
@media screen and (min-width: 90em) {
    .course-card {
        align-items: center;
    }

    .inline-g div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
    }
}