/* =-=-=-=-=-=-=-=-=-=-=-=-=-= APIs Page Styling =-=-=-=-=-=-=-=-=-=-=-=-=-= */
.apis-hero {
    padding: 2em 2em 4em 2em;
}

.apis-hero img {
    margin-top: 65px;
}

.apis-hero-text {
    margin-left: 30px;
}

.apis-hero-text h6 {
    padding:0 !important
}

.apis-section-white {
    background-color:white;
    margin-top: -35px;
    margin-bottom:-30px;
    padding: 0 4em;
}

.apis-card-container {
    margin-left: auto;
    margin-right: auto;
}

.apis-section-text {
    margin-top: 1em;
}

.apis-link {
    color: #0F62FE;
}

.apis-card {
    margin-top: 3em;
}

.apis-card h4 {
    color: black;
    letter-spacing: normal;
}

.apis-card p {
    letter-spacing: normal;
}

.apis-gray-card-container {
    padding: 2em 4em;
}

.apis-gray-card {
    padding-right: 2.5em;
} 

.apis-gray-card img {
    height: 40px;
}

.apis-gray-card h3 {
    color: black;
}

.apis-gray-card a {
    color: #0043CE;
}

.apis-section-black {
    padding: 2em 4em;
}

.apis-black-card {
    padding-right: 2.5em;
}

.apis-black-card a {
    color: #78A9FF;
}

.apis-hr {
    margin-top: 60px !important;
}

.apis-hr-section {
    margin-top: -100px;
}