.videos-pg {
    position: relative; 
    background: #282828 !important;
}

.intro-sec {
    width: 100%;
    z-index:300;
}

.intro-sec section {
    padding: 2em;
}

.intro-sec img {
    margin-top: 65px;
    height: 30px;
}

.intro-sec-g {
    margin-left: 30px;
}

.intro-sec-g h6 {
    padding: 0;
}

.intro-sec-g p {
    font-size: 18px;
}

.intro-sec-b {
    max-width: 240px;
    margin-top: 20px;
}

.filter-sec ul {
    letter-spacing: normal;
}

.filter-sec li {
    margin-right: 2em !important; 
    font-weight: 500 !important;
}

.videos-sec {
    background-color: white;
}

.video-section-header-first {
    letter-spacing: normal;
    color: black;
    width: 100%;
    margin-left: 15px;
  }

.video-section-header {
    letter-spacing: normal;
    margin-top: 30px;
    color: black;
    width: 100%;
    margin-left: 15px;
  }

  .video-card-header {
    color: black;
    font-weight: normal !important;
  }

  .video-card-link {
    position: absolute;
    bottom: 10%;
  }

  .video-card-container {
    margin-left: auto;
    margin-right: auto;
  }